<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block title
	body
		header
			a(href="/").siteBrand Gulp Boilerplate
			nav
				ul
					li
						a(href="/") Home
		block content
		footer
			p Copyright &copy; 202