<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block title
	body
		header
			a(href="/").siteBrand Brians Ostebiks
			nav
				ul
					li
						a(href="/") Forside
					li
						a(href="/kontakt") Kontakt
		block content
		footer
			p Copyright &copy; 2020
		script(src="/assets/js/alert.js")